<div class="container" style="margin-top:5px;">
  <div class="row">
    <div class="col-xs-4">
      <form>
        <textarea style="width:200px" class="form-control" [(ngModel)]="echoText" name="echoText" placeholder="Let's echo your mind...here!" rows="3"></textarea>
        <button style="margin-top:20px;" (click)="Submit()" class="btn btn-primary">Send</button>

        <div style="margin-top: 20px;overflow: scroll;">
          <div *ngFor="let resp of response">
            <span>{{resp}}</span>
          </div>
        </div>
      </form>
    </div>
    <div style="margin-left: 100px;overflow: scroll;" class="col-xs-6" >
      <div *ngFor="let ech of echo">
        <span>{{ech}}</span>
      </div>
    </div>
  </div>
</div>
